<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    @Styles.Render("~/content/bootstrap/dist/css/bootstrap.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/content/font-awesome/css/font-awesome.min.css")
    <!-- NProgress -->
    @Styles.Render("~/content/nprogress/nprogress.css")
    <!-- iCheck -->
    @Styles.Render("~/content/iCheck/skins/flat/green.css")

    <!-- bootstrap-progressbar -->
    @Styles.Render("~/content/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")
    <!-- JQVMap -->
    @Styles.Render("~/content/jqvmap/dist/jqvmap.min.css")
    <!-- bootstrap-daterangepicker -->
    @Styles.Render("~/content/bootstrap-daterangepicker/daterangepicker.css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Contents/Alignments.css")

    @Styles.Render("~/Content/datatables.net-bs/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/custom-breadcrums.css")

    @Styles.Render("~/Content/checkbox-slider.css")

    @RenderSection("Styles", false)

    <link rel="icon" href="~/newfavicon.ico" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container" style="background-color:#2A3F54">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0; background-color: #EDEDED">

                        <a href="/" class="site_title img-circle">
                            <img src="~/Content/images/RC" alt="logo" id="site_logo_id" />
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            @if (Request.IsAuthenticated)
                            {
                                <h3>General</h3>
                                <ul class="nav side-menu">

                                    @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                                    {

                                        <li>
                                            <a><i class="fa fa-home"></i> Dashboards <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/CRM">Dashboard CRM</a></li>
                                                <li><a href="/Sales">Dashboard Sales</a></li>
                                                <li><a href="/KPI">KPIs</a></li>
                                                <li><a href="/KPI/Sales">KPI Sales</a></li>
                                                <li><a href="/KPI/Manager">KPI Manager</a></li>
                                                <li><a href="/KPI/Marketing">KPI Marketing</a></li>
                                            </ul>
                                        </li>


                                        <li>
                                            <a><i class="fa fa-calendar"></i> Schedules <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/FollowUpSchedules/DailyTasks">Daily Tasks</a></li>
                                                <li><a href="/FollowUpSchedules">Follow Up</a></li>
                                                <li><a href="/FollowUpSchedules/TrainingSchedule">Training Schedule</a></li>
                                                <li><a href="/FollowUpSchedules/RoadTestSchedule">Road Test Schedule</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="/Leads"><i class="fa fa-hand-o-right"></i>Leads</a></li>
                                        <li><a href="/Students"><i class="fa fa-group"></i> Students </a></li>
                                        <li><a href="/StudentsPool"><i class="fa fa-group"></i> Students Pool</a></li>
                                        <li><a href="/StudentsPool/Rotation"><i class="fa fa-group"></i>Yards Rotation</a></li>
                                        <li>
                                            <a><i class="fa fa-area-chart"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/Paymentshistories/IncomeList">Income</a></li>
                                                <li><a href="/InvoicesPaymentPlanDetails/IncomeProjectList">Projection</a></li>
                                                <li><a href="/Invoices/InvoiceKPI">Invoice KPI</a></li>
                                                <li><a href="/Leads/LeadSources">Leads Sources</a></li>
                                                <li><a href="/QRCode">QR Code</a></li>
                                                <li><a href="/Students/Students50PercentCompletedNoPermit">50% training complete with no permit</a></li>
                                                <li><a href="/Students/StudentRoadTestReady">Road Test Ready</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-bar-chart"></i> Spend Control <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/SpendTypes">Spend Type</a></li>
                                                <li><a href="/Spends">Spends</a></li>
                                                <li><a href="/Spends/Report">Spend Report</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="glyphicon glyphicon-send"></i>&nbsp;&nbsp; Campaign <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/CampaignActivityTypes">Campaign Activity Types</a></li>
                                                <li><a href="/CampaignHeaders">Campaign Headers</a></li>
                                                <li><a href="/CampaignDetails">Campaign Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-mortar-board"></i> LMS <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/Courses">Courses</a></li>
                                                <li><a href="/CoursesChapters">Courses Chapters</a></li>
                                                <li><a href="/CousesChapterTopics">Chapters Topics</a></li>
                                                <li><a href="/Quizs">Quiz</a></li>
                                                <li><a href="/LMS/Index">Report</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-location-arrow"></i> Yard Management <span class="fa  fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/YardSections">Yard Sections</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-gears"></i> Parameters <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/Companies">Companies</a></li>
                                                <li><a href="/Counselors">Counselors</a></li>
                                                <li><a href="/Locations">Locations</a></li>
                                                <li><a href="/leadsscripts">Scripts</a></li>
                                                <li><a href="/AppointmentsOutComes">Appointment OutComes</a></li>
                                                <li><a href="/CommunicationPhoneOutComes">Communication Phone OutComes</a></li>
                                                <li><a href="/CommunicationPhoneTypes">Communication Phone Types</a></li>
                                                <li><a href="/CommunicationReasons">Communication Reasons</a></li>
                                                <li><a href="/CommunicationReasonsClassifications">Communication Reasons Classifications</a></li>
                                                <li><a href="/CommunicationTypes">Communication Types</a></li>
                                                <li><a href="/LeadsStatus">Leads Status</a></li>
                                                <li><a href="/LeadTypes">Lead Source</a></li>
                                                <li><a href="/LeadStages">Lead Stages</a></li>
                                                <li><a href="/ProductCategories">Product Categories</a></li>
                                                <li><a href="/Products">Products</a></li>
                                                <li><a href="/RecurrentTaskStatus">Recurrent Task Status</a></li>
                                                <li><a href="/RecurrentTasksTypeCategories">Recurrent Tasks Categories Type </a></li>
                                                <li><a href="/RecurrentTaskTypes">Recurrent Task Types</a></li>
                                                <li><a href="/VoiceMailMessages">Voice Mail Messages</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-lock"></i> Manage <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/User">User</a></li>
                                                <li><a href="/Role">Role</a></li>
                                            </ul>
                                        </li>
                                    }
                                    else if (User.IsInRole("Officer") || User.IsInRole("Sales"))
                                    {
                                        <li>
                                            <a><i class="fa fa-home"></i> Dashboards <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/CRM">Dashboard CRM</a></li>
                                                <li><a href="/Sales">Dashboard Sales</a></li>
                                            </ul>
                                        </li>


                                        <li>
                                            <a><i class="fa fa-calendar"></i> Schedules <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/FollowUpSchedules/DailyTasks">Daily Tasks</a></li>
                                                <li><a href="/FollowUpSchedules">Follow Up</a></li>
                                                <li><a href="/FollowUpSchedules/TrainingSchedule">Training Schedule</a></li>
                                                <li><a href="/FollowUpSchedules/RoadTestSchedule">Road Test Schedule</a></li>
                                            </ul>
                                        </li>


                                        <li><a href="/Leads"><i class="fa fa-hand-o-right"></i>Leads</a></li>
                                        <li><a href="/Students"><i class="fa fa-group"></i> Students </a></li>
                                        if (User.IsInRole("Officer"))
                                        {
                                            <li>
                                                <a><i class="fa fa-area-chart"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="/Paymentshistories/IncomeList">Income</a></li>
                                                    <li><a href="/InvoicesPaymentPlanDetails/IncomeProjectList">Projection</a></li>
                                                    <li><a href="/Leads/LeadSources">Leads Sources</a></li>
                                                    <li><a href="/QRCode">QR Code</a></li>
                                                    <li><a href="/Students/Students50PercentCompletedNoPermit">50% training complete with no permit</a></li>
                                                    <li><a href="/Students/StudentRoadTestReady">Road Test Ready</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-bar-chart"></i> Spend Control <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="/SpendTypes">Spend Type</a></li>
                                                    <li><a href="/Spends">Spends</a></li>
                                                    <li><a href="/Spends/Report">Spend Report</a></li>
                                                </ul>
                                            </li>
                                        }

                                    }
                                    else if (User.IsInRole("Instructor"))
                                    {
                                        <li>
                                            <a><i class="fa fa-calendar"></i> Schedules <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/FollowUpSchedules/TrainingSchedule">Training Schedule</a></li>
                                                <li><a href="/FollowUpSchedules/RoadTestSchedule">Road Test Schedule</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/Students"><i class="fa fa-group"></i> Students </a></li>

                                    }

                                </ul>
                            }

                        </div>
                    </div>

                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        @*@Html.Partial("_LoginPartial")*@

                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @*<footer>
                    <div class="pull-right">
                        All right reserved by
                    </div>
                    <div class="clearfix"></div>
                </footer>*@
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    @Scripts.Render("~/content/jquery/dist/jquery.min.js")

    <!-- Bootstrap -->
    @Scripts.Render("~/content/bootstrap/dist/js/bootstrap.min.js")
    <!-- FastClick -->
    @Scripts.Render("~/content/fastclick/lib/fastclick.js")
    <!-- NProgress -->
    @Scripts.Render("~/content/nprogress/nprogress.js")
    <!-- Chart.js -->
    @Scripts.Render("~/content/Chart.js/dist/Chart.min.js")
    <!-- gauge.js -->
    @Scripts.Render("~/content/gauge.js/dist/gauge.min.js")
    <!-- bootstrap-progressbar -->
    @Scripts.Render("~/content/bootstrap-progressbar/bootstrap-progressbar.min.js")
    <!-- iCheck -->
    @Scripts.Render("~/content/iCheck/icheck.min.js")
    <!--DataTables-->
    @Scripts.Render("~/content/datatables.net/js/jquery.dataTables.min.js")
    @Scripts.Render("~/content/datatables.net-bs/js/dataTables.bootstrap.min.js")

    <!-- Skycons -->
    @Scripts.Render("~/content/skycons/skycons.js")
    <!-- Flot -->
    @Scripts.Render("~/content/Flot/jquery.flot.js")
    @Scripts.Render("~/content/Flot/jquery.flot.pie.js")
    @Scripts.Render("~/content/Flot/jquery.flot.time.js")
    @Scripts.Render("~/content/Flot/jquery.flot.stack.js")
    @Scripts.Render("~/content/Flot/jquery.flot.resize.js")
    <!-- Flot plugins -->
    @Scripts.Render("~/content/flot.orderbars/js/jquery.flot.orderBars.js")
    @Scripts.Render("~/content/flot-spline/js/jquery.flot.spline.min.js")
    @Scripts.Render("~/content/flot.curvedlines/curvedLines.js")
    <!-- DateJS -->
    @Scripts.Render("~/content/DateJS/build/date.js")
    <!-- JQVMap -->
    @Scripts.Render("~/content/jqvmap/dist/jquery.vmap.js")
    @Scripts.Render("~/content/jqvmap/dist/maps/jquery.vmap.world.js")
    @Scripts.Render("~/content/jqvmap/examples/js/jquery.vmap.sampledata.js")
    <!-- bootstrap-daterangepicker -->
    @Scripts.Render("~/content/moment/min/moment.min.js")
    @Scripts.Render("~/content/bootstrap-daterangepicker/daterangepicker.js")
    @Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")

    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/Scripts/custom.js")
    @Scripts.Render("~/Scripts/custom-layout.js")
    @Scripts.Render("~/Content/checkbox.js")
    @Scripts.Render("~/Scripts/toastr.min.js")
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        //*************************************************************************
        //**************************function to generat GUID***********************
        function guid() {
            return "ss-s-s-s-sss".replace(/s/g, s4);
        }

        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        // do this before the first CKEDITOR.replace( ... )
        CKEDITOR.timestamp = guid();
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(':checkbox').checkboxpicker({
            html: true,
            offLabel: '<span class="glyphicon glyphicon-remove">',
            onLabel: '<span class="glyphicon glyphicon-ok">'
        });

        $('.datepicker').datepicker();

    </script>
    @RenderSection("scripts", required: false)

</body>

</html>
