@model VacacionesRC.Models.Vacation

@{
    ViewBag.Title = "Formulario Solicitud de Vacaciones";
}

<style>
    .disable-button {
        cursor: not-allowed;
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="text-center mb-1" style="position: relative">
    <h5>Formulario para Solicitud de Vacaciones</h5>

    <div class="text-right" id="formHeaderInfo" style="right: 20px; top:10px; position: absolute">
        <span>Fecha: <span id="requestedDate" class="font-weight-bold"></span> </span>
        <span class="ml-3">Estatus: <span id="requestStatus" class="font-weight-bold"></span></span>
    </div>

</div>

<div class="container-fluid">
    <section class="bg-light text-dark border-custom">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Información del Colaborador
                <span class="btn-group pull-right">
                    <a href="@Url.Action("Formulario","Vacation", new { id = ""})" class="btn btn-danger btn-sm" style="margin-top: -3px">Nueva Solicitud</a>
                </span>
            </h6>
        </div>

        <form class="mt-3 ml-2 mr-2">
            <div class="form-row">

                <div class="form-group col-4">
                    <div class="row">
                        <div class="col-3 mb-1">
                            <label for="validationDefault01">Código</label>
                            @if (Session["role"] != null && (Session["role"].ToString() == "Depto" || Session["role"].ToString() == "Admin"))
                            {
                                <input type="text" id="employeeId" name="employeeId" value="" class="form-control form-control-sm numericOnly" autocomplete="off" style="min-width: 65px !important" />
                            }
                            else
                            {
                                <input type="text" id="employeeId" name="employeeId" value="@Session["employeeID"].ToString()" class="form-control form-control-sm numericOnly" readonly />
                            }
                        </div>

                        <div class="col-2">
                            <a class="btn btn-sm btn-info" href="javascript:void(0)" id="btnSearchEmployee" title="Buscar" style="margin-top: 27px">
                                <i class="fa fa-search"></i>
                            </a>
                            <span id="waitingIndicator" class="spinner-border text-danger" style="margin-top: 27px; margin-right: 5px; display: none"></span>
                        </div>

                        <div class="col-7">
                            <label for="validationDefault01">Fecha de Ingreso</label>
                            <input type="text" id="employeeAdmissionDate" name="employeeAdmissionDate" value="" class="form-control form-control-sm" readonly />
                        </div>
                    </div>
                </div>

                <div class="form-group col">
                    <label for="validationDefault01">Fecha de renovación de vacaciones</label>
                    <input type="text" id="nextAvailableDate" name="nextAvailableDate" value="" class="form-control form-control-sm col-12" readonly />
                </div>
                <div class="form-group col">
                    <label for="validationDefault01">Fecha de Vencimiento de Vacaciones</label>
                    <input type="text" id="dueDate" name="dueDate" value="" class="form-control form-control-sm col-12" readonly />
                </div>

            </div>

            <div class="form-row pb-3">
                <div class="form-group col">
                    <label for="validationDefault01">Nombres</label>
                    <input type="text" id="employeeName" name="employeeName" value="" class="form-control form-control-sm col-12" readonly />
                </div>
                <div class="form-group col">
                    <label for="validationDefault01">Puesto</label>
                    <input type="text" id="employeePosition" name="employeePosition" value="" class="form-control form-control-sm col-12" readonly />
                </div>
                <div class="form-group col">
                    <label for="validationDefault01">Departamento</label>
                    <input type="text" id="employeeDepto" name="employeeDepto" value="" class="form-control form-control-sm col-12" readonly />
                </div>
            </div>

        </form>
    </section>

    <section class="bg-light text-dark border-custom">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Vacaciones
            </h6>
        </div>

        <div class="mt-3 ml-2 mr-2 pb-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <section class="row">
                    <div class="col-8">
                        <div class="form-row">
                            <div class="col-4 mb-2">
                                <label for="validationDefault01">Días Correspondientes</label>
                                <input type="text" id="daysTotal" name="daysTotal" value="" class="form-control form-control-sm" autocomplete="off" readonly />
                            </div>
                            <div class="col-4 mb-2">
                                <label for="validationDefault01">Días Disfrutados</label>
                                <input type="text" id="daysTaken" name="daysTaken" value="" class="form-control form-control-sm" autocomplete="off" readonly />
                            </div>
                            <div class="col-4 mb-2">
                                <label for="validationDefault01">Días Disponibles</label>
                                <input type="text" id="daysAvailable" name="daysAvailable" value="" class="form-control form-control-sm" autocomplete="off" readonly />
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-4">
                                <label for="validationDefault02">Solicitar <b>Desde</b></label>
                                <input type="text" id="startDate" name="startDate" value="" class="datepicker form-control form-control-sm" autocomplete="off" />
                            </div>

                            <div class="col-4">
                                <label for="validationDefault02">Solicitar <b>Hasta</b></label>
                                <input type="text" id="endDate" name="endDate" value="" class="datepicker form-control form-control-sm" autocomplete="off" />
                            </div>
                            <div class="col-4 mb-2">
                                <label for="validationDefault01">Días Solicitados</label>
                                <input type="text" id="daysRequested" name="daysRequested" value="" class="form-control form-control-sm" autocomplete="off" readonly />
                            </div>

                            <input type="hidden" id="_returnDate" name="_returnDate" value="" />
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="validationDefault02">Observación</label>

                        <textarea id="note" class="form-control form-control-sm col-12" style="height: 98px; font-size: 0.95em"></textarea>
                    </div>
                    <div id="returnDateDiv" class="mt-2 mb-2">
                        <span class="ml-3">Le corresponde reintegrarse a las labores el día <span id="returnDate" class="font-weight-bold"></span> </span>
                    </div>
                </section>

                <div>
                    <div class="d-inline">
                        <button id="btnSaveForm" class="btn btn-sm btn-danger pl-5 pr-5 mt-3 ml-1">
                            <span class="fa fa-save"></span> Guardar Solicitud
                        </button>
                    </div>
                    <div class="d-inline">
                        <button id="btnReject" class="btn btn-sm btn-warning pl-5 pr-5 mt-3 ml-1" onclick="rejectRequest()" title="Rechazar">
                            <span class="fa fa-remove"></span> Rechazar
                        </button>
                    </div>
                    <div class="d-inline">
                        <button id="btnAccept" class="btn btn-sm btn-success pl-5 pr-5 mt-3 ml-1" onclick="acceptRequest()" title="Aprobar">
                            <span class="fa fa-check"></span> Aprobar
                        </button>
                    </div>
                    <div class="d-inline">
                        <button id="btnPrint" class="btn btn-sm btn-success pl-5 pr-5 mt-3 ml-1">
                            <span class="fa fa-print"></span> Imprimir Solicitud
                        </button>
                    </div>
                    <div class="d-inline">
                        <button id="btnPrintConst" class="btn btn-sm btn-primary pl-5 pr-5 mt-3 ml-1">
                            <span class="fa fa-print"></span> Imprimir Constancia
                        </button>
                    </div>
                </div>


                <span id="message" class="d-block pl-2 pr-2 pb-1 pt-1 mt-3 mb-0">@ViewBag.Message</span>
            }
        </div>
    </section>
    <input type="hidden" name="vacationId" id="vacationId" value="" />
    <input type="hidden" name="daysTakenH" id="daysTakenH" value="" />
    <input type="hidden" name="daysAvailableH" id="daysAvailableH" value="" />

</div>

<div id="printModal" title="Imprimir Formulario de Vacaciones"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}

    <script type="text/javascript">

    $(document).ready(async function () {

        $("#btnSearchEmployee").removeClass("disabled")
        $("#btnSaveForm").prop("disabled", true)
        $("#returnDateDiv").hide()
        $("#btnPrint").hide()
        $("#btnPrintConst").hide()
        $("#formHeaderInfo").hide()
        $("#btnReject").hide()
        $("#btnAccept").hide()

        const url = window.location.pathname
        const id = url.substring(url.lastIndexOf('/') + 1);
        const employeeId = $("#employeeId").val();

        if (parseInt(employeeId) > 0 && (!id || id == "Formulario")) {
            await getEmployeeDetail(employeeId)
            $("#btnSearchEmployee").addClass("disabled")
        }

        //If idHash is given then try to edit the form
        await editForm()

        //$(".datepicker").val(new Date().toLocaleDateString())
        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });

        $(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
        });

        $("#employeeId").keypress(function (evt) {
            if (evt.charCode === 13 && this.value.length > 1) {
                $("#btnSearchEmployee").click();
            }

            if (this.value.length >= 5)
                return false;
        });

        $("#note").keypress(function (evt) {
            if (this.value.length > 299)
                return false;
        });

        $("#btnSearchEmployee").click(async function (e) {
            e.preventDefault();

            const employeeId = $("#employeeId").val();

            $("input").val('')
            $("#btnSaveForm").prop("disabled", true)

            $("#returnDateDiv").hide()

            if (employeeId) {
               await getEmployeeDetail(employeeId)
            }
        });

        $("#btnPrint").click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            let idHash = '';
            const url = window.location.pathname
            const id = url.substring(url.lastIndexOf('/') + 1);
            if (id && id !== "Formulario")
                idHash = id;

            const data = {
                'IdHash': idHash,
                'FechaSolicitud': "",
                'Codigo': $("#employeeId").val(),
                'Nombre': $("#employeeName").val(),
                'FechaIngreso': $("#employeeAdmissionDate").val(),
                'Puesto': $("#employeePosition").val(),
                'Departamento': $("#employeeDepto").val(),
                'DiasCorrespondientes': $("#daysTotal").val(),
                'DiasRestantes': $("#daysAvailable").val(),
                'DiasSolicitados': $("#daysRequested").val(),
                'FechaDesde': $("#startDate").val(),
                'FechaHasta': $("#endDate").val(),
                'FechaRetorno': $("#returnDate").val(),
                'Observacion': $("#note").val()
            }

            $.ajax({
                url: `/Vacation/PrintForm`,
                type: "POST",
                data: data
            }).done(async function (response) {
                if (response.result === "200") {
                    $("#printModal").hide()
                    $("#printModal").html(response.message)

                    const divToPrint = document.getElementById('printModal');
                    const newWin = window.open('', 'Print-Window');
                    newWin.document.open();
                    newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
                    newWin.document.close();

                    setTimeout(function () { newWin.close(); }, 5);
                }
                else {
                    console.log(response.message);
                    alert(response.message);
                }
            }).fail(function (error) {
                alert(error);
            })
        });

        $("#btnPrintConst").click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            let idHash = '';
            const url = window.location.pathname
            const id = url.substring(url.lastIndexOf('/') + 1);
            if (id && id !== "Formulario")
                idHash = id;

            const data = {
                'IdHash': idHash,
                'FechaSolicitud': "",
                'Codigo': $("#employeeId").val(),
                'Nombre': $("#employeeName").val(),
                'FechaIngreso': $("#employeeAdmissionDate").val(),
                'Puesto': $("#employeePosition").val(),
                'Departamento': $("#employeeDepto").val(),
                'FechaDesde': $("#startDate").val(),
                'FechaHasta': $("#endDate").val()
            }

            $.ajax({
                url: `/Vacation/PrintConstancia`,
                type: "POST",
                data: data
            }).done(async function (response) {
                if (response.result === "200") {
                    $("#printModal").hide()
                    $("#printModal").html(response.message)

                    const divToPrint = document.getElementById('printModal');
                    const newWin = window.open('', 'Print-Window');
                    newWin.document.open();
                    newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
                    newWin.document.close();

                    setTimeout(function () { newWin.close(); }, 5);
                }
                else {
                    console.log(response.message);
                    alert(response.message);
                }
            }).fail(function (error) {
                alert(error);
            })
        });

        $("#btnSaveForm").click(function (e) {
            e.preventDefault();

            const employeeId = $("#employeeId").val()
            const daysTaken = $("#daysTaken").val()
            const daysRequested = $("#daysRequested").val()
            const daysAvailable = $("#daysAvailable").val()

            const startDateFormatted = GetDateFormat($("#startDate").val())
            const endDateFormatted = GetDateFormat($("#endDate").val())

            let startDate = new Date(startDateFormatted)
            let endDate = new Date(endDateFormatted)
            let returnDate = new Date($("#_returnDate").val())

            startDate = startDate.toLocaleDateString()
            endDate = endDate.toLocaleDateString()
            returnDate = returnDate.toLocaleDateString()

            const note = $("#note").val()
            let idHash = '';
            const url = window.location.pathname
            const id = url.substring(url.lastIndexOf('/') + 1);
            if (id && id !== "Formulario")
                idHash = id;

            //$("#waitingIndicator").show();
            //$("#btnSearchEmployee").hide();
            const data = {
                'IdHash': idHash,
                'EmployeeId': employeeId,
                'DaysTaken': daysTaken,
                'DaysAvailable': daysAvailable,
                'DaysRequested': daysRequested,
                'StartDate': startDate,
                'EndDate': endDate,
                'ReturnDate': returnDate,
                'Note': note
            }

            if (employeeId) {
                $.ajax({
                    url: `/Vacation/Save`,
                    type: "POST",
                    data: data
                }).done(async function (response) {
                    if (response.result === "200") {
                        alert("El formulario fue guardado satisfactoriamente!")
                        window.location = "/Vacation";
                    }
                    else {
                        console.log(response.message);
                        alert(response.message);
                    }

                    //$("#waitingIndicator").hide();
                    //$("#btnSearchEmployee").show();

                }).fail(function (error) {
                    alert(error);
                })
            }
        });

        $("#startDate").on("change", function (evt) {
            validateDate()
        });

        $("#endDate").on("change", function (evt) {
            validateDate()
        });

    });

    const CorrespondingDays = async (employeeId) => {

        $("#waitingIndicator").show();
        $("#btnSearchEmployee").hide();

        $.ajax({
            "url": `/Vacation/GetCorrespondingDays/?employeeId=${employeeId}`,
            "type": "GET",
            "success": async function (response) {
                if (response.result === "200") {
                    console.log('CorrespondingDays', response)

                    const employeeDay = JSON.parse(response.message);
                    $("#nextAvailableDate").val(new Date(employeeDay.RenovationDate).toLocaleDateString("es-DO"))
                    $("#dueDate").val(new Date(employeeDay.DueDate).toLocaleDateString("es-DO"))

                    $("#daysTotal").val(employeeDay.TotalDays)
                    $("#daysTaken").val(employeeDay.TakenDays)

                    const daysAvailable = parseInt(employeeDay.TotalDays) - parseInt(employeeDay.TakenDays)
                    $("#daysAvailable").val(daysAvailable)

                    const today = new Date();
                    const renovationDate = new Date(employeeDay.RenovationDate);

                    //if (renovationDate > today) {
                    //    console.log('disable fields')
                    //    $("#startDate").prop("readonly", true)
                    //    $("#endDate").prop("readonly", true)
                    //} else {
                    //    console.log('NOT disable fields')
                    //    $("#startDate").prop("readonly", false)
                    //    $("#endDate").prop("readonly", false)
                    //}

                    //Check Editing
                    let _daysTaken = parseInt($("#daysTakenH").val())
                    let _daysAvailable = parseInt($("#daysAvailableH").val())

                    if (!isNaN(_daysTaken)) {
                        _daysTaken = employeeDay.TakenDays - _daysTaken
                        _daysAvailable = daysAvailable + employeeDay.TakenDays

                        $("#daysTaken").val(_daysTaken)
                        $("#daysAvailable").val(_daysAvailable)
                    }
                } else {
                    alert(response.message)
                }

                $("#waitingIndicator").hide();
                $("#btnSearchEmployee").show();
            }
        })
    }

    async function getEmployeeDetail(employeeId) {

        $("#waitingIndicator").show();
        $("#btnSearchEmployee").hide();

        $.ajax({
            "url": `/Vacation/GetEmployee?employeeId=${employeeId}`,
            "type": "POST",
            "success": async function (response) {
                if (response.result === "200") {
                    const employee = JSON.parse(response.message);
                    $("#employeeId").val(employee.EmployeeId);
                    $("#employeeName").val(employee.EmployeeName)
                    $("#employeePosition").val(employee.EmployeePosition)
                    $("#employeeDepto").val(employee.EmployeeDepto)
                    $("#employeeAdmissionDate").val(new Date(employee.AdmissionDate).toLocaleDateString("es-DO"))

                    await CorrespondingDays(employeeId);
                }
                else if (response.result === "404") {
                    alert('El colaborador no fue encontrado.');
                }
                else {
                    console.log(response.message);
                    if (response.message.includes('(403)')) {
                        alert(response.message);
                        $("#employeeId").val(@Session["employeeID"])
                        await getEmployeeDetail(@Session["employeeID"])
                    }
                    else
                        alert('Hubo un error tratando de encontrar al colaborador.');
                }

                $("#waitingIndicator").hide();
                $("#btnSearchEmployee").show();
            }
        });
    }

     async function getVacationDetail(idHash) {
        $.ajax({
            "url": `/Vacation/GetVacation?idHash=${idHash}`,
            "type": "POST",
            "success": async function (response) {
                if (response.result === "200") {
                    const form = JSON.parse(response.message);
                    console.log(form)
                    await getEmployeeDetail(form.EmployeeId)

                    $("#vacationId").val(form.Id);
                    $("#daysTakenH").val(form.DaysRequested)
                    $("#daysAvailableH").val(form.DaysAvailable)

                    $("#startDate").val(new Date(form.StartDate).toLocaleDateString("es-DO"))
                    $("#endDate").val(new Date(form.EndDate).toLocaleDateString("es-DO"))
                    $("#daysRequested").val(form.DaysRequested)
                    $("#note").val(form.Note)

                    $("#formHeaderInfo").show()
                    $("#requestedDate").html(new Date(form.CreatedDate).toLocaleDateString("es-DO"))
                    $("#requestStatus").html(form.Status)

                    if (form.Status.includes('En proceso'))
                        $("#requestStatus").addClass("text-dark")

                    if (form.Status.includes('Aprobada'))
                        $("#requestStatus").addClass("text-success")

                    if (form.Status.includes('Rechazada'))
                        $("#requestStatus").addClass("text-danger")

                    $("#employeeId").prop("readonly", true)
                    $("#btnSearchEmployee").addClass("disabled")

                    if ((form.AcceptedDate !== null || form.RejectedDate !== null)
                        || (parseInt($("#employeeId").val()) !== @Session["employeeID"].ToString() && '@Session["role"].ToString()' !== "Admin")) {

                        if (form.AcceptedDate !== null) {
                            $("#btnPrint").show()
                            $("#btnPrintConst").show()
                        }

                        $("#startDate").prop("disabled", true)
                        $("#endDate").prop("disabled", true)
                        $("#note").prop("readonly", true)
                        $("#btnSaveForm").prop("disabled", true)
                    }

                    console.log('TESTING', form.AcceptedDate === null, form.RejectedDate === null)
                    if ((form.AcceptedDate === null && form.RejectedDate === null) && parseInt(form.EmployeeId) !== @Session["employeeID"].ToString()) {
                        $("#btnReject").show()
                        $("#btnAccept").show()
                    } else {
                        $("#btnReject").hide()
                        $("#btnAccept").hide()
                    }
                }
                else if (response.result === "404") {
                    alert('El formulario no fue encontrado.');
                }
                else {
                    console.log(response.message);
                    alert('Hubo un error tratando de encontrar al colaborador.');
                }

                //$("#waitingIndicator").hide();
                //$("#btnSearchEmployee").show();
            }
        });
    }

    async function editForm() {
        const url = window.location.pathname
        const id = url.substring(url.lastIndexOf('/') + 1);

        if (id && id !== "Formulario") {
            await getVacationDetail(id)

            $("#btnSaveForm").prop("disabled", false)
        }
    }

    function requestedDays(startDate, endDate) {
        $.ajax({
            "url": `/Vacation/RequestedDays?startDate=${startDate}&endDate=${endDate}`,
            "type": "POST",
            "success": async function (response) {

                if (response.result === "200") {
                    $("#daysRequested").val(response.requestedDays)
                    $("#_returnDate").val(response.returnDate)
                    $("#returnDate").html(new Date(response.returnDate).toLocaleDateString("es-DO"))
                    $("#returnDateDiv").show()

                    requestedDaysGreaterThenAvailableDays()
                }
                else {
                    $("#daysRequested").val("0")
                    $("#returnDate").html('')
                    $("#returnDateDiv").hide()
                }
            }
        });
    }

    function requestedDaysGreaterThenAvailableDays() {
        const daysRequested = parseInt($("#daysRequested").val())
        const daysAvailable = parseInt($("#daysAvailable").val())

        console.log("daysRequested", daysRequested)
        console.log("daysAvailable", daysAvailable)

        if (daysRequested > daysAvailable) {
            $("#returnDateDiv").hide()
            $("#message").html("La cantidad de días solicitados no puede exceder la cantidad de días disponibles.")
            $("#message").addClass("text-danger")
            $("#btnSaveForm").prop("disabled", true)
        } else {
            $("#returnDateDiv").show()
            $("#message").html("")
            $("#message").removeClass("text-danger")
            $("#btnSaveForm").prop("disabled", false)
        }
    }

    function validateDate() {
        const startDateFormatted = GetDateFormat($("#startDate").val())
        const endDateFormatted = GetDateFormat($("#endDate").val())

        const startDate = new Date(startDateFormatted)
        const endDate = new Date(endDateFormatted)

        if (startDate > endDate) {
            $("#message").html("La fecha de inicio no puede ser mayor a la fecha fin")
            $("#message").addClass("text-danger")
        } else {
            $("#message").html("")
            $("#message").removeClass("text-danger")

            if (startDate instanceof Date && isFinite(startDate) && endDate instanceof Date && isFinite(endDate))
                requestedDays(startDate.toLocaleDateString(), endDate.toLocaleDateString())
        }
    }

    function rejectRequest() {
        const id = $("#vacationId").val();

        if (confirm(`Seguro que desea RECHAZAR esta solicitud de vacaciones?`)) {
            $.ajax({
                "url": "/Vacation/RejectRequest?id=" + id,
                "type": "POST",
                "success": function (response) {
                    if (response.result === "200") {
                        window.location.reload(true);
                    } else {
                        console.log(response.message);
                        if (response.message.includes("501")) {
                            alert(response.message)
                        } else {
                            alert('Hubo un error tratando de rechazar la solicitud de vacaciones.');
                        }
                    }
                }
            });
        }
    }

    function acceptRequest() {
        const id = $("#vacationId").val();

        if (confirm(`Seguro que desea APROBAR esta solicitud de vacaciones?`)) {
            $.ajax({
                "url": "/Vacation/AcceptRequest?id=" + id,
                "type": "POST",
                "success": function (response) {
                    if (response.result === "200") {
                        window.location.reload(true);
                    } else {
                        console.log(response.message);
                        if (response.message.includes("501")) {
                            alert(response.message)
                        } else {
                            alert('Hubo un error tratando de aprobar la solicitud de vacaciones.');
                        }
                    }
                }
            });
        }
    }

    function GetDateFormat(date) {
        const parts = date.split("/");
        const dt = new Date(parseInt(parts[2], 10),
            parseInt(parts[1], 10) - 1,
            parseInt(parts[0], 10));

        return dt.toLocaleDateString();
    }

    </script>
